@import "./variables";

#root main {
  min-height: 550px;
}

.table {
  margin-top: 0.5rem;
  flex: 2;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
}

.standing {
  padding: 10px;
  border-left: 5px solid $very-dark-green;
  border-bottom: 1px solid $dark;
  background-color: $light-green;
  color: $dark;
  width: 80%;
  max-width: 290px;
  min-width: 220px;
  display: grid;
  grid-template-columns: 10px 1fr 18px;
  margin: 0 auto;
  align-items: center;
  border-radius: 4px;
  height: 54px;
  &__team {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 1.4rem;
    align-items: center;
    p {
      font-weight: 600;
    }
    &__img {
      padding-right: 0.3rem;
      width: 30px;
    }
  }
}

.score {
  padding: 0.4rem 0;
  width: 80%;
  margin: 0 auto;
  &__container {
    max-width: 390px;
    border-radius: 5px;
    height: 115px;
    background-color: $light-green;
    border-bottom: 8px solid $very-dark-green;
    color: $dark;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    &__score {
      font-size: 20px;
      font-weight: 600;
    }
    &__team-image {
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__home-team,
    &__away-team {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__score {
      margin: auto 0;
    }
    img {
      width: 52px;
    }
  }
}

@media (min-width: 800px) {
  .table {
    width: 85%;
    max-width: 680px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 682px;
  }

  .standings-table {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    display: block;
  }

  .score {
    width: 48%;
  }

  .standing {
    width: 100%;
  }
}
